@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Raleway&family=Suranna&family=Trocchi&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
}

body{
    background: #ede2dd;
}

.container{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px;
    width: 670px;
    height: 420px;
}

.container-img{
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(img/producto.jpg);
    background-position: center;
}

.container-info{
    float: right;
    width: 50%;
    height: 100%;
    background: #fff;
}

.title{
    position: absolute;
    font-family: 'Bentham', serif;
    margin: 55px 0 0 35px;

}

.subtitle{
    position: absolute;
    font-family: 'Raleway', serif;
    font-size: 12.5px;
    letter-spacing: 1.9px;
    color: #dfd6db;
    margin: 95px 0 0 35px;
}

.paragraph{
    position: absolute;
    margin: 155px 0 0 35px;
    color: #8d8f94;
    font-family: 'Trocchi', serif;
    font-size: 13.5px;
    padding-right: 45px;
    line-height: 1.8;
}

.container-buy{
    position: relative;
    width: 250px;
    height: 50px;
    margin: 310px 0 0 34px;
    font-family: 'Suranna', serif;
}

.container-price{
    
    float: left;
    width: 30%;
    height: 100%;
    font-size: 25px;
}

.price{
    position: fixed;
    margin: -3px 0 0 0;
}

.button{
    background: #9cebd5;
    border-radius: 25px;
    float: right;
    width: 70%;
    height: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 3px 0 0 0;
}
